extends layout 
 
block content 
  h1= title 


 
  form(id='SchoolForm', action="/resource/school", method="POST") 
    div.form-group 
        label.schoolAttr(for='school_type') School Name 
        input#Name(type='text', name='school_type') 
    div.form-group 
        label.schoolAttr(for='size') School  Address
        input#Address(type='text', name='size') 
    div.form-group 
        label.schoolAttr(for='cost') School ID 
        input#School_ID(type='number', name='cost') 
    input(type="submit") 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/school' 
    } 
 
  script. 
    document.forms['SchoolForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 